<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.codenauts.hockeyapp"
    android:installLocation="auto" 
    android:versionCode="13"
    android:versionName="1.0">

    <application 
        android:theme="@android:style/Theme.NoTitleBar"
        android:icon="@drawable/icon" 
        android:label="@string/app_name">
        
        <activity 
            android:name=".MainActivity"
            android:label="@string/app_name">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>

        <activity android:name=".AppActivity" />

        <activity android:name="net.hockeyapp.android.UpdateActivity" />

    </application>

    <supports-screens 
        android:smallScreens="true" 
        android:normalScreens="true" 
        android:largeScreens="true" 
        android:anyDensity="true" />
                      
    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
